---
import clsx from 'clsx';
import { urlForImage } from '~/lib/image-resolver';
import type { SectionType } from '~/types/helper';
import { containerStyles } from '~/styles/container';

export type Props = SectionType<'featured-content'>

const { title, text, bgImage, titleTag } = Astro.props;
const TitleTag = titleTag ?? 'p';

const imageUrl = bgImage ? urlForImage(bgImage).url() : undefined;
---
<div class={clsx("py-12 sm:py-32 bg-center bg-cover bg-no-repeat relative")} style={`background-image: url(${imageUrl});`}>
  <div class="bg-gray-200/95 inset-0 absolute"></div>
  <div class={clsx(containerStyles, 'lg:grid lg:grid-cols-7 relative items-center')}>
    <TitleTag class="mt-2 text-pretty lg:text-center text-4xl font-semibold tracking-tight text-primary-600 sm:text-6xl mb-4 sm:mb-8 font-display col-span-2">
      {title}
    </TitleTag>
    <div class="lg:border-l-2 border-gray-600 col-span-5 lg:py-4 lg:px-16">
      <p>
        {text}
      </p>
    </div>
  </div>
</div>
