---
import type { GlobalConfig } from '~/types/sanity';
import { resolveLink } from '~/lib/resolve-link';
import {Icon} from 'astro-icon/components';

type Props = NonNullable<GlobalConfig['footer']>; 

const { links, socialLinks } = Astro.props;
---

<footer class="bg-primary-950">
  <div class="mx-auto max-w-7xl px-6 py-12 sm:py-20 lg:px-8">
    <nav aria-label="Footer" class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6">
      {links?.map((item) => (
        <a {...resolveLink(item)} class="text-gray-100 hover:text-primary-100">
          {item.title}
        </a>
      ))}
    </nav>
    <div class="mt-16 flex justify-center gap-x-10">
      {socialLinks?.map((item) => (
        <a {...resolveLink(item)} class="text-gray-100 hover:text-primary-100">
          <span class="sr-only">{item.icon}</span>
          <Icon name={item.icon} aria-hidden="true" class="size-6" />
        </a>
      ))}
    </div>
    <p class="mt-10 text-center text-sm/6 text-gray-100">&copy; {new Date().getFullYear()} Club los picos. Todos los derechos reservados.</p>
  </div>
</footer>
