---
import clsx from "clsx";
import { containerStyles } from "../styles/container";
import { Button } from "./button";
import Image from "./image.astro";
import type { GlobalConfig } from "~/types/sanity";

const currentUrl = Astro.url.pathname;

type Props = NonNullable<GlobalConfig['header']>

const { logo, links, cta } = Astro.props;
---

<header class={clsx(containerStyles, "py-6")}>
  <div class="flex justify-between items-center">
    <a href="/" class="text-lg font-medium uppercase">
      {logo ? (
        <Image src={logo} alt="Logo club los picos" class="w-12 h-12" />
      ) : (
        "Club Los Picos"
      )}
    </a>
    <nav class="mx-4">
      <ul class="flex gap-4">
        {links?.map((link) => (
          <li>
            <a 
              href={link.url} 
              class={clsx(
                "hover:text-primary-500 transition-colors duration-200",
                currentUrl === link.url && "text-primary-700"
              )}
            >
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    {cta && (
      <Button as="a" href="#contacto">
        Contacto
      </Button>
    )}
  </div>
</header>