---
import clsx from "clsx";
import { containerStyles } from "../styles/container";
import { Button } from "./button";
import type { GlobalConfig } from "~/types/sanity";
import { urlForImage } from "~/lib/image-resolver";
import { Image } from "astro:assets";
import { resolveLink } from "~/lib/resolve-link";

const currentUrl = Astro.url.pathname;

type Props = NonNullable<GlobalConfig['header']>

const { logo, links, cta } = Astro.props;
const image = logo ? urlForImage(logo) : null;
const imageUrl = logo ? image?.url() : null;
---

<header class={clsx(containerStyles, "py-6")}>
  <div class="flex justify-between items-center">
    <a href="/" class="text-lg font-medium uppercase">
      {imageUrl ? (
        <Image src={imageUrl} inferSize alt="Logo club los picos" class="w-12 h-12" />
      ) : (
        "Club Los Picos"
      )}
    </a>
    <nav class="mx-4">
      <ul class="flex gap-4">
        {links?.map((link) => (
          <li>
            <a 
              {...resolveLink(link)}
              class={clsx(
                "hover:text-primary-500 transition-colors duration-200",
                currentUrl === new URL(link.url ?? "").pathname && "text-primary-700"
              )}
            >
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    {cta && (
      <Button as="a" href={cta.url}>
        {cta.title}
      </Button>
    )}
  </div>
</header>