---
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "~/components/footer.astro";
import { sanityClient } from "sanity:client";
import { globalConfigQuery } from "~/queries/global-config";

const config = await sanityClient.fetch(globalConfigQuery);

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Club los picos</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Hepta+Slab:wght@1..900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white min-h-screen grid grid-rows-[auto_1fr_auto]">
		<Header {...config.header} />
		<main>
			<slot />
		</main>
		<Footer {...config.footer}/>
	</body>
</html>
